FOOTBALL_MATCH_CSV=/data/incoming/combined.csv
FOOTBALL_PLAYER_CSV=/data/incoming/player_match_stats.csv
FOOTBALL_DEFAULT_SEASON=unknown
FOOTBALL_HDFS_RAW_ROOT=hdfs:///football/raw
FOOTBALL_CURATED_PATH=hdfs:///football/curated/team_player_matchday
FOOTBALL_DAG_SCHEDULE=0 4 * * 1

HIVE_JDBC_URL=jdbc:hive2://hive-server:10000/default
HADOOP_FS_BIN=hdfs

DATABASE_URL=postgresql+psycopg2://football:change-me@postgres:5432/football
POSTGRES_JDBC_URL=jdbc:postgresql://postgres:5432/football
POSTGRES_USER=football
POSTGRES_PASSWORD=change-me
